@model List<App.EndPoints.Home_RepaireUI.Areas.Admin.Models.Order.OrderDetailViewModel>
@{
    ViewData["Title"] = "سفارشات";
    Layout = "~/Areas/Seller/Views/shared/_LayoutSeller.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<div class="portlet-body">

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th><i class="icon-energy"></i></th>
                    <th>نام خریدار</th>
                    <th>نام غرفه</th>
                    <th>تاریخ</th>
                    <th>مبلغ کل</th>
                    <th>کارمزد</th>
                    <th>وضعیت</th>
                   
                </tr>
            </thead>
            @{
                int count =1;
                foreach(var item in Model){

                
            
            <tbody>
                <tr>
                   <td>@count</td> 
                    <td>
                        <span>
                          @item.BuyerName
                        </span>
                    </td>
                    <td>@item.BoothName</td> 
                    <td>@item.OrderCreatTime</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Commission</td>
                    <td>@item.status</td>
                </tr>
                
                 
            </tbody>
            }
            }
        </table>
    </div>
</div>