@model List<App.EndPoints.Home_RepaireUI.Areas.Admin.Models.User.AppUserViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
   
}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <form method="post"> 

       
        <thead>
            <tr>
                <th><i class="icon-energy"></i></th>
                <th>نام - نام خانوادگی</th>
                <th>رایانامه</th>
                <th>تاریخ ثبت نام</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
          
            @{
                int counter = 1;
                foreach(var item in Model)
                 {
                
                <tr class="table-info">
                    <td>@counter</td>
                    <td>@item.Name - @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.CreatAt</td>
                        <td>
                    @if (item.IsCreated == false)
                     {
                     <a class="btn btn-success btn-block btn-lg border border-white" asp-controller="User" asp-action="Active" asp-route-Id="@item.Id">فعال کردن</a>
                     }
                   @if (item.IsCreated == true)
                     {
                     <a  class="btn btn-danger btn-block btn-lg border border-white" asp-controller="User" asp-action="Diactivated" asp-route-Id="@item.Id">غیر فعال </a>
                      }
                 <a class="btn btn-primary btn-block btn-lg border border-white" asp-controller="User" asp-action="EditeUserInformation" asp-route-Id="@item.Id">ویرایش پروفایل</a>
                 </td>
                       
                </tr>
                    
                    counter++;
                }
            
           }
            </form>
        </tbody>
    </table>
</div>