@model List<App.EndPoints.Home_RepaireUI.Areas.Admin.Models.User.AppUserViewModel>
@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <form method="post"> 

       
        <thead>
            <tr>
                <th><i class="icon-energy"></i></th>
                <th>نام - نام خانوادگی</th>
                <th>رایانامه</th>
                <th>تاریخ ثبت نام</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
          
            @{
                int counter = 1;
                foreach(var item in Model)
                 {
                
                <tr class="table-info">
                    <td>@counter</td>
                    <td>@item.name - @item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.CreatAt</td>
                            @if (item.IsCreated == false)
                            {
                            <td>  <a class="btn btn-success btn-block btn-lg border border-white" asp-controller="User" asp-action="Active" asp-route-Id="@item.Id">فعال کردن</a></td>
                            }
                            @if (item.IsCreated == true)
                            {
                            <td>  <a  class="btn btn-danger btn-block btn-lg border border-white" asp-controller="User" asp-action="Diactivated" asp-route-Id="@item.Id">غیر فعال </a></td>
                            }

                       
                </tr>
                    
                    counter++;
                }
            
           }
            </form>
        </tbody>
    </table>
</div>