@model App.EndPoints.Home_RepaireUI.Models.Cart.CartViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "جزِئیات سبد خرید";
}

<main class="cart-page default space-top-30">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="order-steps">
                    <li>
                        <a href="cart.html" class="active">
                            <span>سبدخرید</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopping-payment.html">
                            <span>پرداخت</span>
                        </a>
                    </li>
                    <li>
                        <a href="successful-payment.html">
                            <span>اتمام خرید و ارسال</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cart_content col-xl-12 col-lg-12 col-md-12">
                <header class="card-header">
                    <h3 class="card-title"><span>سبد خرید شما</span></h3>
                </header>
                <div class="table-responsive default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> کالا</th>
                                
                                <th scope="col">غرفه </th>
                                <th scope="col">قیمت نهایی</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                            @foreach (var item in Model.CartProducts)
                            {
                                <tr class="cart_item">
                                    
                                    <td>
                                        <h3 class="cart_title">
                                           @item.ProductName
                                        </h3>
                                        <h6>
                                            @item.UnitPrice
                                        </h6>
                                       
                                    </td>
                                    <td>
                                       @item.boothId
                                    </td>
                                    
                                    <td class="price_alltd"><span> @item.UnitPrice تومان</span></td>
                                    <td>
                                        <a asp-action="PaymentMethod" asp-controller="Cart" class="btn btn-success btn-round"
                                           asp-route-cartId="@Model.Id" asp-route-totalPrice="@Model.TotalPrice">
                                            پرداخت
                                        </a>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
