@model App.EndPoints.Home_RepaireUI.Models.Booth.BoothViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <br />
    <h1>غرفه @Model.Name</h1>
    <br />
    <div>
       
        <div class="img">
            @if (Model.BoothImageId != null)
            {
                var imagePath = Model.Image.Path;
                var imageUrl = $"~/uploads/{imagePath}";
                <img class="img-fluid" src="@Url.Content(imageUrl)" alt="Product Image" />
                <br />
            }



        </div>
        <br />
        <p><strong>تاریخ ایجاد:</strong> @Model.CreatedDate</p>
        <br />
        <p><strong>توضیحات:</strong> @Model.Description</p>
        <br />
        <p><strong>تعداد کل فروش:</strong> @Model.TotalSalesNumber</p>
       
        <a class="text-warning" asp-action="BoothProduct" asp-controller="Product" asp-route-BoothId="@Model.Id" > مشاهده کالاهای غرفه</a>
        
    </div>

    <br/>
    <br/>
   
</body>

</html>

@foreach (var comment in ViewBag.comments)
{
    <p>------------------------------</p>
    <p><strong>شناسه کاربر:</strong> @comment.UserId</p>
    <p><strong>نظر:</strong> @comment.Comment1</p>
    <p><strong>تاریخ ایجاد:</strong> @comment.CreatedAt</p>
    <p>------------------------------</p>
}
