@model App.EndPoints.Home_RepaireUI.Models.Booth.BoothViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>غرفه @Model.Name</h1>

    <div>
       
        <div class="img">
            @if (Model.BoothImageId != null)
            {
                var imagePath = Model.Image.Path;
                var imageUrl = $"~/uploads/{imagePath}";
                <img class="img-fluid" src="@Url.Content(imageUrl)" alt="Product Image" />
                <br />
            }



        </div>
        <p><strong>تاریخ ایجاد:</strong> @Model.CreatedDate</p>
        <p><strong>توضیحات:</strong> @Model.Description</p>
        <p><strong>تعداد کل فروش:</strong> @Model.TotalSalesNumber</p>
        <p><strong>حذف شده است:</strong> @Model.IsDeleted</p>
        <a class="text-warning" asp-action="BoothProduct" asp-controller="Product" asp-route-BoothId="@Model.Id" > مشاهده کالاهای غرفه</a>
        
    </div>
</body>
</html>
