@model List< App.EndPoints.Home_RepaireUI.Areas.Seller.Models.Product.ProductViewModel>

@{
    ViewData["Title"] = "لیست کالاها";
    Layout = "~/Areas/Seller/Views/shared/_LayoutSeller.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<div>
    <form method="post">
         <a class="btn btn-info btn-round" asp-controller="Auction" asp-action="Create" >اافزودن کالا برای حراجی </a>
       

    </form>
 </div> 

<span class="text text-danger">مدیریت کالاهای  غرفه   </span>
<form method="post">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="data-table">     
            <thead>
                <tr class="text text-danger">
                    <th>ردیف</th>
                    <th>نام کالا</th>
                    <th>دسته بندی</th>
                    <th>نوع کالا</th>
                    <th>وضعیت</th>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                @{
                    int count1 = 1;
                    foreach(var item in Model)
                    {
                        
                        
                            <tr>
                                <td>@count1</td>
                                <td>@item.ProductName</td>
                                <td class="text text-warning">@item.category</td>
                                <td>@item.Allproduct</td>
                                @if(item.IsAccepted == false)
                                {
                                    <td class="text text-danger">در انتظار تایید</td>
                                }
                                @if(item.IsAccepted == true)
                                {
                                    <td class="text text-success">تایید شده</td>
                                }
                                <td>
                                    <a class="btn btn-warning btn-round" asp-controller="Product" asp-action="Detail" asp-route-Id="@item.Id" class="btn btn-warning btn-round">مشاهده</a>
                                    @if (item.IsDeleted == true)
                                    {
                                        <a class="btn btn-success btn-round" asp-controller="Product" asp-action="OnDelete" asp-route-Id="@item.Id">بازگردانی</a>
                                    }
                                    @if (item.IsDeleted == false)
                                    {
                                        <a class="btn btn-danger btn-round" asp-controller="Product" asp-action="Delete" asp-route-Id="@item.Id">حذف</a>
                                    }
                                    @if(item.IsAccepted == true)
                                    {
                                    <a class="btn btn-info btn-round" asp-controller="Product" asp-action="Update" asp-route-Id="@item.Id">ویرایش</a>
                                    }                                
                                </td>
                            </tr>
                            count1++;
                        
                    }
                }
            </tbody>
        </table>
    </div>
</form>
